{% extends 'base.html.twig' %}

{% block title %}Edit Price{% endblock %}

{% block content %}
    <h3>Modifier les tarifs</h3>

    {{ include('price/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('price_index') }}">Retour à la liste</a>

    {{ include('price/_delete_form.html.twig') }}
{% endblock %}
