{% extends 'base.html.twig' %}

{% block title %}New Price{% endblock %}

{% block content %}
    <h1>Ajouter un nouveau tarif</h1>

    {{ include('price/_form.html.twig') }}

    <a href="{{ path('price_index') }}">Retour à la liste</a>
{% endblock %}
