{% extends 'base.html.twig' %}

{% block title %}Liste des photos{% endblock %}

{% block content %}
    <h1>Liste des photos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for picture in pictures %}
            <tr>
                <td> <img src="/pictures/{{ picture.photo }}" width="150px"; height="150px"; /></td>
                <td>                 
                  {{ include('picture/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
