{% extends 'base.html.twig' %}

{% block title %}New Picture{% endblock %}

{% block content %}

    {{ include('picture/_form.html.twig') }}
    <div class="btn_villa">
    <a  class=" btn btn-warning btn-lg" href="{{ path('picture_index') }}">Liste des toutes les photos</a>
    </div>
{% endblock %}
