{% extends 'base.html.twig' %}

{% block content %}
    <div class="big_img">
        <img src="{{ asset('build/cover/home.jpg') }}" alt=exemple>
   </div>
   <br>
<div class="video"><iframe  width="1680" height="600" src="https://www.youtube.com/embed/b5U46nl8_W8" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
<br>
{% endblock %}

