
{% extends 'base.html.twig'  %}
 
  {% block body %}
  
  <div class="big_img">
     <img src="{{ asset('build/home.jpg') }}"  alt="exemple"/>
   </div>
<hr>
                        
<div class="video"><iframe 
src="https://www.youtube.com/embed/b5U46nl8_W8"
  allowfullscreen></iframe></div>
<hr>
   {% endblock %}

