{% extends 'base.html.twig' %}

{% block content %}
    <div class="cover_img">
        <img src="{{ asset('build/cover/home.jpg') }}" alt=exemple>
   </div>
<div class="video"><iframe  src="https://www.youtube.com/embed/b5U46nl8_W8" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
{% endblock %}

