{% extends 'base.html.twig' %}

{% block content %}
    <div class="wrapper_containeur">
        <div class="wrapper">
            <div class="video_wrapper">
                <iframe src="https://www.youtube.com/embed/b5U46nl8_W8?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="container_basdepage">
            <h1>Profitez d'une villa toute équipée avec piscine, à proximité des plus belles plages!</h1>
            <h3>Parcourez nos villas afin de trouver celle qu'il vous faut.</h3>
    </div>
{% endblock %}

