{% extends 'base.html.twig' %}

{% block content %}
    <div class="wrapper_containeur">
        <div class="wrapper">
            <div class="video_wrapper">
                <iframe src="https://www.youtube.com/embed/b5U46nl8_W8?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="container_basdepage">
            <a class="nav-link" href="{{ path('villa_index') }}"><h1>Vous profiterez de nos villas avec piscine privative, au sein d’un écrin de verdure avec vue sur les montagnes.</h1></a>
            <a class="nav-link" href="{{ path('villa_index') }}"><h3>Les Villas I Fiori sont idéalement situées à 10 minutes des plages de Pinarellu et 5 minutes de Saint Cyprien.</h3></a>
            <a class="nav-link" href="{{ path('villa_index') }}"><h3>Réservez nos villas pour un séjour au calme, permettant de vous ressourcer et de vous réinventer en toute sérénité.</h3></a>
    </div>
{% endblock %}

