{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block content %}
<div class="service">
<div class="condition">
<h1>Conditons de réservation</h1>
</div>
<div class="condition-item">
<h3>Les locations à la semaine s’étendent du Samedi au Samedi (si demande spécifique, ne pas hésiter à nous contacter) 
Se référer à la grille tarifaire.</h3>
<h3>Prise du logement à partir de 17h le jour de l’arrivée et restitution à 10h00 au plus tard, le jour du départ.</h3>
<h3>Un inventaire et une vérification de tous les appareils est effectué à chaque départ durant le nettoyage des villas
( prévenir du moindre problème que vous avez constaté).</h3>
<h3>Une caution de 1000 € est à déposer le jour de l’arrivée et vous sera restituée en fin de séjour, sauf dommage révélé.</h3>
<h3>Un contrat de location vous sera expédié en double exemplaire à l’issue de la confirmation de disponibilité et après réception d’un acompte représentant 30% du montant total de votre séjour.</h3>
<h3>Le locataire est invité à vérifier auprès de son assurance que celle-ci assure la maison pendant le séjour par le biais de la responsabilité civile ; dans le cas contraire, merci de souscrire une extension villégiature.</h3>
<h3>La réservation est effective dès le retour du contrat daté et signé recto-verso.</h3>
<h3>Le règlement du solde devra s’effectuer 1 mois avant la date d’arrivée.</h3>
<h3>Toute annulation doit être notifiée par lettre recommandée au propriétaire.</h3>
<h3>En cas d’annulation, l’acompte versé reste acquis.</h3>
<h3>En cas d’annulation tardive, soit moins de trente jours avant la date d’arrivée prévue au contrat, le propriétaire sera en droit d’exiger le solde du loyer. </h3>
<h3>Le locataire s’engage à ne pas dépasser le nombre prévu d’occupants mentionnés sur le contrat.</h3>
<h3>Le locataire s’engage à respecter la tranquillité du voisinage.</h3>
<h3>Le linge de maison sera fourni. Nous pourrons vous fournir un lit bébé sur demande.</h3>
<h3>Une somme de 50€ à 200€ (selon hébergement) vous sera demandée si les locaux n’étaient pas rendus dans un état de propreté convenable.</h3>
</div>
<div class="consignes">
<h1>Consignes</h1>
</div>
<div class="condition-item">
<h3>Douche impérative avant d’entrer dans les bassins.</h3>
<h3>Serviette de bain obligatoire sur les bains de soleil.</h3>
<h3>Les plongeons sont interdits </h3>
<h3>Pas de pique-nique aux abords des bassins.</h3>
</div>
<div class="attention">
<h1>Attention</h1>
</div>
<div class="condition-item" id="item">
<h3>La baignade reste non surveillée et les parents ont l’entière responsabilité de leurs enfants surtout s’ils ne savent pas nager.</h3>
<h3>Les enfants ne sachant pas nager ne seront pas admis seuls par mesure de sécurité.</h3>
</div>
</div>
{% endblock %}
