{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block content %}
    <div class="cover_img">
        <img class="img-fluid" src="{{ asset('build/pages/services/cover.jpeg') }}"  alt="exemple"/>
    </div>
<div class="general_conditions">
    <h1 id="reservation_conditions"><strong>Conditons de réservation</strong></h1>
    <p class="reservation_conditions_txt">
        Les locations à la semaine s’étendent du Samedi au Samedi (si demande spécifique, ne pas hésiter à nous contacter) 
        <br><br>Se référer à la grille tarifaire.
        <br><br>Prise du logement à partir de 17h le jour de l’arrivée et restitution à 10h00 au plus tard, le
        jour du départ.
        <br>(prévenir du moindre problème que vous avez constaté).
        <br><br>Une caution de 1000 € est à déposer le jour de l’arrivée et vous sera restituée  en fin de séjour,
        sauf dommage révélé.
        <br><br>Un contrat de location vous sera expédié en double exemplaire à l’issue de la confirmation
        de disponibilité et après réception <br>d’un acompte
        représentant 30% du montant total de votre séjour.
        <br><br>Le locataire est invité à vérifier auprès de son assurance que celle-ci assure la maison pendant le séjour par le biais de la
        <br>responsabilité civile ; dans le cas contraire, merci de souscrire une extension villégiature.
        <br><br>La réservation est effective dès le retour du contrat daté et signé recto-verso.
        <br><br>Le règlement du solde devra s’effectuer 1 mois avant la date d’arrivée.
        <br><br>En cas d'annulation tardive, soit moins de trente jours avant la date d’arrivée prévue au contrat,
        <br>le propriétaire sera en droit d'exiger le solde du loyer.
        <br>Toute annulation doit être notifiée par lettre recommandée au propriétaire.
        <br>En cas d'annulation, l'acompte versé reste acquis.
        <br><br>Le locataire s’engage à ne pas dépasser le nombre prévu d’occupants mentionnés sur le contrat.
        <br><br>Le locataire s’engage à respecter la tranquillité du voisinage.
        <br><br>Le linge de maison sera fourni. Nous pourrons vous fournir un lit bébé sur demande.
        <br><br>Une somme de 50€ à 200€ (selon hébergement) vous sera demandée si les locaux n’étaient pas rendus dans un état de propreté convenable.
    </p>
    <hr>
    <h2 class="warning"><strong>Attention</strong></h2>
    <p class="reservation_conditions_txt">
        La baignade reste non surveillée et <strong>les parents ont l’entière responsabilité de leurs enfants</strong> surtout s’ils ne savent pas nager.
        <br><br>Les enfants ne sachant pas nager ne seront pas admis seuls par mesure de sécurité.
    </p>
    <hr>
    <h2 class="warning"><strong>Consignes</strong></h2>
    <p class="reservation_conditions_txt">
        Douche impérative avant d’entrer dans les bassins.
        <br><br>Serviette de bain obligatoire sur les bains de soleil.
        <br><br>Pas de pique-nique aux abords des bassins.
        <br><br>Les plongeons sont interdits
    </p>
</div>
{% endblock %}
