{% extends 'base.html.twig' %}

{% block title %}Rate index{% endblock %}

{% block content %}
    <h1>Tarifs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Période</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rate in rates %}
            <tr>
                <td>{{ rate.firstPeriod ? rate.firstPeriod|date('d-m-Y') : '' }}</td>
                <td>{{ rate.secondPeriod ? rate.secondPeriod|date('d-m-Y') : '' }}</td>
                <td>{{ rate.price }}</td>
                <td>
                      <div class="btn_villa">
                    <a class="btn btn-success btn-lg"  href="{{ path('rate_edit', {'id': rate.id}) }}">Modifier</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
