{% extends 'base.html.twig' %}

{% block title %}Ajouter des tarifs{% endblock %}

{% block content %}
<div class="container text-center">
 <h4>Ajouter un nouveau tarif</h4>
</div>


    {{ include('rate/_form.html.twig') }}
    <div class="container text-center mb-3 ">
        <div class="back">
            <a id="back" class="btn btn-warning btn-lg" href="{{ path('rate_index') }}">Retour à la liste</a>
        </div>
    </div>
{% endblock %}
