{% extends 'base.html.twig' %}

{% block title %}Ajouter contenu{% endblock %}

{% block content %}
    <div class="conditionNew">
        {{ include('condition/_form.html.twig') }}
        <div class="back">
            <a id="back" class="btn btn-lg"  href="{{ path('condition_index') }}">Retour à la liste</a>
        </div>
    </div>
{% endblock %}
