.btn_villa a{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
}

.btn_villa {
    text-align: center;
}

.logout a{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 14px;
}

.btn_retourliste a{
    font-family: Arial, Helvetica, sans-serif;
}