.btn_villa a{
    font-family: Arial, Helvetica, sans-serif;
}

.btn_villa {
    padding-top: 1em;
    text-align: center;
}

.logout a{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 14px;
}

.btn_retourliste a{
    font-family: Arial, Helvetica, sans-serif;
}

.formDesign {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.formwidth{
    border-style: inset;
    border-color: #f5b95a;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    margin: 0 auto;

}

.tarifs_wrapper{
    padding-bottom: 1em;
}

.new_pic_form_btn{
    padding-bottom: 1em;
}
