.goldenbook_container{
    background-color: rgb(248, 245, 245);

}

.goldForm{
    width: 70%;
    padding-left: 30%;
    margin-bottom: 10%;
}

.commentary h2{
    font-size: 40px;
}

.commentary{
    font-family: 'snellregular';
    margin-bottom: 5%;
    padding-top: 5%;
    text-align: center;
}

.ajouter_btn {
    text-align: center;
    margin-bottom: 2%;
}

.ajouter_btn a{
    font-family: Arial, Helvetica, sans-serif;
}

.titre{
    text-align: center;
}

.titre h1{
    color: $third;
    font-family: 'snellregular';
    font-size: 50px;
}

.new-page{
    background-color: rgb(248, 245, 245);

}