.service{
    background-image: url(../images/pages/condition/c.jpg);
 
}

.condition h1 {
    font-family: 'snellregular';
    text-align: center;
    padding-top: 5%;
    color:#f5b95a;
}

.condition-item{
    margin-top: 5%;
  

}

.condition-item h3{
    padding-top: 15px;
    font-size:20px;
    padding-left: 3%;
    color: white;
    
}

.consignes{
    margin-top: 5%;
}

.consignes h1{
    text-align: center;
    font-family: 'snellregular';
    color:#f5b95a;
}

.attention h1{
    text-align: center;
    font-family: 'snellregular';
    margin-top: 5%;
    color:#f5b95a;
}

#item{
    padding-bottom: 3%;
}