.villa_head
{
    text-align: center;
}

.villa_wrapper
{
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 2em;
}

#villa_list_title
{
    padding-left: 18px;
    font-family: snellregular;
    font-weight: bolder;
    font-size: 60px;
}

.villa_list
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.villa_img
{
    width: 45%;
    padding: 30px;
}

.img-hover-zoom
{
    height: 400px;
    overflow: hidden;
}


.img-hover-zoom img
{
    transition: transform 5s ease;
}


.img-hover-zoom:hover img
{
    transform: scale(1.5);
}

.villa_text
{
    text-align: center;
}

.svg_logo
{
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
}

.svg_infos
{
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
}

#sqm
{
    padding-right: 20px;
}

#bed
{
    padding-right: 15px;
}




