{% extends 'base.html.twig' %}

{% block title %}Modifier Instructions{% endblock %}

{% block content %}
    <h1>Modifier Instructions</h1>

    {{ include('instruction/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('instruction/_delete_form.html.twig') }}
{% endblock %}
