{% extends 'base.html.twig' %}

{% block title %}New Instruction{% endblock %}

{% block content %}
    <h1>Create new Instruction</h1>

    {{ include('instruction/_form.html.twig') }}

{% endblock %}
