{% extends 'base.html.twig' %}

{% block title %}Ajouter contenu{% endblock %}

{% block content %}
    <h1>Ajouter contenu partie Instructions</h1>

    {{ include('instruction/_form.html.twig') }}

{% endblock %}
