<form method="post" action="{{ path('golden_book_delete', {'id': golden_book.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ golden_book.id) }}">
    <button id="delete" class="btn btn-danger btn-lg">Supprimer</button>
</form>
