{% extends 'base.html.twig' %}

{% block title %}Edit GoldenBook{% endblock %}

{% block content %}
    <h1>Edit GoldenBook</h1>

    {{ include('golden_book/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-success btn-lg" href="{{ path('golden_book_index') }}">back to list</a>

    {{ include('golden_book/_delete_form.html.twig') }}
{% endblock %}
