{% extends 'base.html.twig' %}

{% block title %}Edit Attention{% endblock %}

{% block content %}
    <h1>Edit Attention</h1>

    {{ include('attention/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('attention/_delete_form.html.twig') }}
{% endblock %}
