{% extends 'base.html.twig' %}

{% block title %}Modifier partie Attention{% endblock %}

{% block content %}
<div class="conditionNew">
    <h1>Modifier partie Attention</h1>

    {{ include('attention/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
<div class="ajouter_btn">
    <a class="btn btn-warning btn-lg" href="{{ path('condition_index') }}">Retour à la liste</a>
</div>
    {{ include('attention/_delete_form.html.twig') }}
    </div>
{% endblock %}
