{% extends 'base.html.twig' %}

{% block title %}Ajouter contenu{% endblock %}

{% block content %}
    <h1>Ajouter contenu partie attention</h1>

    {{ include('attention/_form.html.twig') }}

{% endblock %}
