{% extends 'base.html.twig' %}

{% block title %}Edit Villa{% endblock %}

{% block content %}
    {{ include('villa/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <div class="back">
        <a id="back" class=" btn btn-lg" href="{{ path('villa_index') }}">Retour</a>
    </div>
{% endblock %}
