{% extends 'base.html.twig' %}

{% block title %}Edit Villa{% endblock %}

{% block content %}
        {{ include('villa/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
          <div class="ajouter_btn">
         <a id="retour" class=" btn btn-success btn-lg" href="{{ path('villa_index') }}">Retour</a>
         </div>
{% endblock %}
