{% extends 'base.html.twig' %}

{% block title %}New Villa{% endblock %}

{% block body %}
    <h1>Create new Villa</h1>

    {{ include('villa/_form.html.twig') }}

    <a href="{{ path('villa_index') }}">back to list</a>
{% endblock %}
