{% extends 'base.html.twig' %}
{% block content %}
    {{ include('villa/_form.html.twig') }}
    <div class="back">
    <a id="villa_edition" class=" btn btn-lg" href="{{ path('villa_index') }}">Retour</a>
    </div>
{% endblock %}
