<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
     <div class="logo">
     <a href="/"> <img src="{{ asset('build/logo.png') }}"  alt="exemple"/></a>
   </div>
<nav>
    <ul class="nav justify-content-center bg-third">
       <li class="nav-item active">
        <a class="nav-link" href="#">Acceuil</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Villas</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Loisirs</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Services</a>
      </li> 
      <li class="nav-item active">
        <a class="nav-link active" href="#">Contact</a>
      </li>
    </ul>
</nav>
{% block content %}{% endblock %}
<footer class="site-footer">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify"></p>
        </div>
        <div class="col-xs-6 col-md-3">
            <h6>Contact</h6>
            <ul class="footer-links">
                <li></li>
            </ul>
        </div>
        <div class="col-xs-6 col-md-3">
            <h6>Accès</h6>
            <ul class="footer-links">
                <li></li>
            </ul>
        </div>
    </div>
        <hr>
</footer>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
