{% extends 'base.html.twig' %}

{% block title %}New LivreDor{% endblock %}

{% block body %}
    <h1>Create new LivreDor</h1>

    {{ include('livre_dor/_form.html.twig') }}

    <a href="{{ path('livre_dor_index') }}">back to list</a>
{% endblock %}
